body {
    background-image: url(/img/cork.png);
}

.pattern {
    background-image: url(/img/wall.png);
    width: 100%;
    height: 10vh;
    padding-top: 15px;
}

.pattern h1 {
    text-align: center;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}

.card {
    position: relative;
}

.pin-photo { 
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}