body {
    background-image: url(/img/cork.png);
}

.pattern {
    background-image: url(/img/wall.png);
    width: 100%;
    height: 10vh;
    padding-top: 15px;
}

.pattern h1 {
    text-align: center;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}

.card:hover{
    cursor: pointer;
    transform: rotate(20deg);
    z-index: 1;
    transform: scale(1.2);
}
